-----
kind: blog
image: /Scratch/img/blog/Learn-Vim-Progressively/uber_leet_use_vim.jpg
title: Blog
menupriority: 2
noSubMenu: true
-----
<% 
    number_of_articles=18
    number_of_char_for_resume=800
    language=@item_rep.path.sub(/\/Scratch\//,'').sub(/\/.*$/,'') 
    last_articles = @items.select do |a| 
            a.reps[0].path =~ /\/#{language}\//  && a[:kind] == 'article'
    end
    last_articles=last_articles.sort { |x,y| y[:created_at] <=> x[:created_at] }[0..(number_of_articles-1)]

def dArr
    return %{<span class="nicer">&dArr;</span>}
end
%>

<ul class="sameline">
<li> <a href="#popular-articles">Articles populaires <%=dArr%></a></li>
<li> <a href="#last-articles">Les <%= number_of_articles %> derniers articles <%=dArr%></a></li>
<li> <a href="#tagcloud">Nuage de mots clés <%=dArr%></a></li>
<li> <a href="#archives">Achives <%=dArr%></a></li>
<li> <a href="#un-petit-mot-sur-le-contenu">Un petit mot sur le contenu <%=dArr%></a></li>
</ul>
<div class="flush"></div>

<h2 id="popular-articles">
Articles populaires
</h2>

<div class="popularblock">
    <a href="/Scratch/en/blog/Learn-Vim-Progressively/">
        <figure>
            <img src="/Scratch/img/blog/Learn-Vim-Progressively/uber_leet_use_vim.jpg" alt="Ü83R 1337 use Vim!"/>
            <figcaption>
            Learn Vim Progressively <span class="nicer">»</span>
            </figcaption>
        </figure>
    </a>
</div>

<div class="popularblock">
    <a href="/Scratch/en/blog/Yesod-tutorial-for-newbies/">
        <figure>
            <img src="/Scratch/img/blog/Yesod-tutorial-for-newbies/flying_neo.jpg" alt="Neo Flying at warp speed"/>
            <figcaption>
            Haskell web programming <span class="nicer">»</span>
            </figcaption>
        </figure>
    </a>
</div>

<div class="popularblock">
    <a href="/Scratch/en/blog/Haskell-the-Hard-Way/">
        <figure>
        <img src="/Scratch/img/blog/Haskell-the-Hard-Way/magritte_pleasure_principle.jpg" alt="Magritte pleasure principle"/>
        <figcaption>
        Learn Haskell Fast and Hard <span class="nicer">»</span>
        </figcaption>
        </figure>
    </a>
</div>

<div class="flush"></div>

<h2 id="last-articles">
Les <%= number_of_articles %> derniers articles
</h2>

</div>

<div class="corps">
<% 
i=2
last_articles.each do |a|
    i+=1 %>
    <%= showArticle(a, language) %>
    <% if i % 3 == 2 %>
        <div class="flush"></div>
    <% end %>
<% end %>
</div>

<div class="corps">
<div>
<%= tagCloud %>
</div>
</div>

<h2 id="archives">Archives</h2>

<%= generateBlogSubMenu(language) %>

<h2 id="un-petit-mot-sur-le-contenu"> 
Un petit mot sur le contenu
</h2>

<div class="corps">

<p>
Vous trouverez ici des articles qui sont pour la plupart
écrits en anglais et qui sont techniques.
Certain sont justes là pour me souvenir de petits trucs, que
d'autres pourraient trouver utiles. Mais il y a aussi de
long articles techniques qui vont un peu plus dans les détails.
</p><p> 
<hr/>
<p> 
 Je fais de mon mieux pour traduire chaque page en anglais et en français.
Cependant, ce n'est pas toujours évident. 
Il m'arrive de faire de nombreuses fautes d'orthographes, des erreurs typographiques et autres. 
</p> 
<p>
<strong> Merci de ne pas me juger sur ces erreurs et de ne pas oublier que le fond est plus important que la forme. </strong>
</p><p> 
L'impression que ce site laisse de moi n'est certainement pas l'impression que je vous laisserais si on se rencontrait.
</p><p> 
Je vous souhaite de trouver ce que vous cherchez sur ce site.
</p>
